.content{
    width: 60%;
    float: left;
    padding: 0 0 0 30px;
    background: green;
    height: 100%;
}
.sidebar{
    width: 40%;
    float: right;
    padding: 10px;
    background: red;
    height: 100%;
}
h1{
    color: black;
    text-align: center;
    border-bottom: 1px yellow;
    padding-bottom: 10px;
}
#date,#ch{
    color: yellow;
    font-size: 12px;
    font-style: italic;
    border-bottom: 2px solid yellow;
}
body{
    color: white;
    background: green;
}
a{
    color: yellow;
}
h2{
    color: black;
}
#pcount{
    font-size: 40px;
    color: yellow;
    font-weight: bold;
}



